@use "./variables" as *;

.mode {
  background-color: $white;
  color: $very-dark-blue-lmt;
}

.dark-mode {
  background-color: $very-dark-blue-dmb;
  color: $white;
  .mode {
    background-color: $dark-blue;
    color: $white;
  }
  .text-mode {
    color: $white;
  }
  form input:focus {
    outline: 1px solid $white;
  }
  .svg-stroke {
    stroke: $white;
  }
}
